---
import MainLayout from "../layouts/MainLayout.astro";
import PastSpeakers from '../components/PastSpeakers.jsx';
---

<MainLayout title="Speakers">

  
  <section class="text-center my-12">
    <h1
      class="text-4xl md:text-6xl font-extrabold uppercase tracking-widest 
             bg-gradient-to-r from-red-700 to-gray-500 bg-clip-text text-transparent"
    >
      Past Speakers
    </h1>
    <PastSpeakers client:load />
  </section>

  

</MainLayout>
